<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style type="text/css">
    pre {
      font-family: "Microsoft YaHei UI", serif;
      background: lightgray;
      color: #000;
      font-weight: bold;
    }
  </style>
</head>
<body>
  建立一个 bus.js 文件
  <pre>
    import Vue from 'vue'
    const Bus = new Vue()
    export default Bus
  </pre>
  在 main.js 导入
  <pre>
    import EventBus from '@/bus.js'
    Vue.use(EventBus)
    Vue.prototype.$EventBus = EventBus
  </pre>
  a 文件派发一个值
  <pre>
    this.$EventBus.$emit('uploading', 'sure')
  </pre>
  b 文件接收它
  <pre>
    this.$EventBus.$on('uploading', val => { console.log(val) })  //输出 sure
  </pre>
</body>
</html>